
body, html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.hero-image {
  background-image: url("../img/hero.png");
  height: 70%;
  background-color: #000E70;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;

}
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

.text-step{
    position: relative;
    top: -30px;
    left: 20px;;
    background-color:  #ffffff;
    
}
.card:hover{
    transform: translateY(3%);
    transition-duration: 0.4s;

}
.noCard:hover{
    transform: translateY(0%);
    transition-duration: 0;

}

.card:not(hover){
    transition-duration: 0.4s;
}

.nav-link{
    border-bottom: 1.5px solid #f8f9fa; /* Green */
  
}
.nav-link:hover{
    border-bottom: 1.5px solid #0D173B; /* Green */
    transition-duration: 0.4s;
}





ul li{
    margin: 8px 0 8px 0;
    padding: 0 10px 0 10px;
}


/* Style the header: fixed position (always stay at the top) */
.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
  }

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
position: fixed;
top: 73px;
width: 100%;
z-index: 5;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
padding-top: 60px;
}

.footer{
    background-color: rgb(5, 139, 140);
}